body{
	background-color: black;
}

h1{
	text-align: center;
	color: #08db08;
	font-family: "Terminal Dosis", serif;
}

p {
    	color: #08db08;
	font-family: "Terminal Dosis", serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
