body{
	background-color: black;
}

h1{
	color: lime;
	font-family: "Terminal Dosis", sans-serif;
}

p {
    	color: lime;
	font-family: "Terminal Dosis", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
