body {
	font-family: courier;
	background-color: #667f91;
	text-align: center;
}

.projects {
	background-image: url("../assets/images/random_perason.png"));
	background-position: right;
	background-size: auto;
	background-repeat: no-repeat;
}

.section {
	border-bottom: 3px solid black;
	margin-bottom: 10px;
}

.project {
	border-bottom: 1px solid black;
	margin-bottom: 5px;
}

a:link {
	color: black;
}

.header {
	display: inline-block;
}