.projects {
	text-align: center;
	
	.header {
		display: inline-block;
	}
	display:inline-block;
	width:15%;
	margin: 0 auto;

	.section {

		.sub-section {
			.project {
				border-bottom: 3px solid #4588ba;
				margin-bottom:10px;

				a:link {
					color: black;
				}
			}
		}
	}
}