body {
	font-family: courier;
	background-color: #667f91;
	text-align: center;
}

figcaption {
	margin-top: 10px;
	font-size: 20px;
}

br {
	width: 450px;
}

.retry-section {
	margin: auto;
	margin-top: 50vh;
}

.retry-button {
	background:none;
	border:none;
	margin:0;
	padding:0;
	cursor: pointer;
}

.projects {
	background-position: right;
	background-size: auto;
	background-repeat: no-repeat;
}

.section {
	border-top: 3px solid #314757;
	margin-top: 40px;
	margin-bottom: 140px;
}

.project {
	/*border-top: 1px solid #314757;*/
	margin-top: 50px;
}

a:link {
	color: black;
}

.header {
	display: inline-block;
}

img {
    width:100%;
    max-width:450px;
    border-radius: 5px;
	box-shadow: 10px 5px 5px #314757; 
}

.painting {
	box-shadow: 0px 0px 0px #314757;
}